
<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <label for="">{{ title }}</label>
  <div>
    <span><a href="register" routerLink="/register">Register</a></span>
    <span> / </span>
    <span><a href="login" routerLink="/login">Login</a></span>
    
    <router-outlet></router-outlet>
  </div>
  
</div>
<!-- <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let image of sliderImages" [ngClass]="{'active' : i == 0}">
      <img class="d-block w-100" [src]="image" alt="First slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->